@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 204 100% 97%;
    --foreground: 204 80% 16%;
    --card: 0 0% 100%;
    --card-foreground: 204 80% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 204 80% 16%;
    --primary: 204 80% 40%;
    --primary-foreground: 0 0% 98%;
    --secondary: 204 30% 90%;
    --secondary-foreground: 204 80% 25%;
    --muted: 204 20% 92%;
    --muted-foreground: 204 40% 40%;
    --accent: 204 60% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 204 30% 85%;
    --input: 204 30% 85%;
    --ring: 204 70% 40%;
    --chart-1: 204 80% 40%;
    --chart-2: 204 70% 50%;
    --chart-3: 204 60% 60%;
    --chart-4: 204 50% 70%;
    --chart-5: 204 40% 80%;
    --radius: 0.5rem;
    --sidebar-background: 204 30% 97%;
    --sidebar-foreground: 204 60% 25%;
    --sidebar-primary: 204 80% 40%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 204 40% 92%;
    --sidebar-accent-foreground: 204 80% 25%;
    --sidebar-border: 204 30% 85%;
    --sidebar-ring: 204 80% 40%;
  }
  .dark {
    --background: 204 50% 10%;
    --foreground: 204 30% 98%;
    --card: 204 50% 12%;
    --card-foreground: 204 30% 98%;
    --popover: 204 50% 12%;
    --popover-foreground: 204 30% 98%;
    --primary: 204 70% 50%;
    --primary-foreground: 204 10% 98%;
    --secondary: 204 30% 20%;
    --secondary-foreground: 204 20% 90%;
    --muted: 204 30% 15%;
    --muted-foreground: 204 20% 65%;
    --accent: 204 50% 25%;
    --accent-foreground: 204 10% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 204 30% 20%;
    --input: 204 30% 20%;
    --ring: 204 70% 50%;
    --chart-1: 204 70% 50%;
    --chart-2: 204 60% 45%;
    --chart-3: 204 50% 40%;
    --chart-4: 204 40% 35%;
    --chart-5: 204 30% 30%;
    --sidebar-background: 204 50% 12%;
    --sidebar-foreground: 204 20% 90%;
    --sidebar-primary: 204 70% 50%;
    --sidebar-primary-foreground: 204 10% 98%;
    --sidebar-accent: 204 30% 20%;
    --sidebar-accent-foreground: 204 20% 90%;
    --sidebar-border: 204 30% 20%;
    --sidebar-ring: 204 70% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
